// Wireframe color variables
$white: #fff;
$black: #000;

$containersLightGray: #fafafa;
$mainContainerLighter: #eeeeee;
$mainContainer: #e8e9ea;
$applicationsGray: #d9d8d8;
$iconsGray: #9a9fa1;
$noResultsIconGray: #eeeeee;
$titlesTextGray: #7b7b7b;
$inputGray: #dedfe0;
$appsFillGray: #d9d8d8;
$darkGrayText: #555;

$focusFillIcon: #a6d9f4;
$focusOutlineIcon: #007cc3;
$focusOutlineIconHover: #004a76;
$focusOutlineTitles: #006aa7;
$appBarFill: #596062;

$fillNotificationQuantity: #ff9610;
$dashlineSketch: #783b8d;
