@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.modal {
  margin: 0 auto;
  position: relative;
  width: 60%;
  .modal-contents {
    align-items: center;
    background-color: $white;
    border: 1px solid $applicationsGray;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-top: 10rem;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: 100000;
  }
}
